body {
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf2;
}

/* ✅ 통일된 헤더 */
header {
  background-color: #ffaf53;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header h1 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* 네비게이션 */
nav {
  background-color: #b36c37;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* 개인작성시작 */
h1 > a {
  color: black;
}
  
html {
    scroll-behavior: smooth;
  }

main {
      padding: 30px 20px;
    }
div.dog {
  width: auto; height: auto;
  background-color: blue;
  
  padding: 20px;
  border: 5px #b36c37;
  margin: 10px 30px 50px 30px;

  border-radius: 40px;
}

div.dog {
  line-height: auto;
}
